<!DOCTYPE html>
<html lang="en">

<head>
    <title>404</title>
    <link rel="stylesheet" href="/image/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{mesg}}</p>
    </div>

    {{footer}}
</body>

</html>